@using Microsoft.AspNetCore.Identity;
@model IEnumerable<JueriOnlineShop.Models.Produs>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/tabel-produse.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://kit.fontawesome.com/6ec9c7cfba.js"crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"> 
</script >

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

<h1>Produse</h1>

 @if (User.IsInRole("Admin")){
        <p>
           <a asp-action="Create" class="alert alert-info">Adauga un produs nou</a>
        </p>
 }
 <br/>

 
<input id="myInput" type="text" placeholder=" Cauta un produs... " style="
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid red;
        border-radius: 4px;
        background-color: aquamarine;
        color: black;
">
       
<br>
<br>
<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th class="bg-info">
                @Html.DisplayNameFor(model => model.numeProdus)
            </th>
            <th class="bg-info">
                @Html.DisplayNameFor(model => model.descriereProdus)
            </th>
            <th class="bg-info">
                @Html.DisplayNameFor(model => model.pretProdus)
            </th>
            <th class="bg-info">
                @Html.DisplayNameFor(model => model.photoURL)
            </th>
            <th class="bg-info"></th>
        </tr>
    </thead>

    <tbody id="myTable" >
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeProdus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descriereProdus)
            </td>
            <td>
                <i class="fa fa-euro">
                   @Html.DisplayFor(modelItem => item.pretProdus)
                </i>
            </td>
            <td>
                <img class="rounded-circle" src="@item.photoURL" style="max-width:150px" />
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                      <a asp-action="Edit" asp-route-id="@item.idProdus">Editare</a>
                      <a>|</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.idProdus">Vizualizare</a>

                    @if (User.IsInRole("Client"))
                    {
                        <button  type="button" onclick="location.href='@Url.Action("index","Cos")'">Adauga in cos </button>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                       <a>|</a>
                       <a asp-action="Delete" asp-route-id="@item.idProdus">Stergere</a>
                    }
            </td>
                
        </tr>
}
    </tbody>
</table>

